/* Red Leaf Platform
 * Breakpoint Developers Group (c) 2016
 * Project: web-app
 * File Name: adminlte-extensions.css
 * Date: Dec 14, 2016 11:19:08 PM
 * Author: Alex */

header .caption {
    color: white;
    display: inline-block;
    padding: 8px 0px 0px 5px;
    font-size: 1.6em;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.shadowText {
    color: white;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Arial', 'PT Sans', 'Numbus';
    animation: fadeInOut 1s linear infinite;
    margin-top: 49vh;
    text-align: center;
}

@keyframes fadeInOut {
    0% { color: rgba(); }
    50% { color: gray; }
    100% { color: white; }
}

@-webkit-keyframes fadeInOut {
    0% { color: white; }
    50% { color: gray; }
    100% { color: white; }
}

.nav-tabs-custom .nav>li>i.tool-btn-close {
    position: absolute !important;
    top: 2px;
    right: 4px;
    color: lightgrey;
}

.nav-tabs-custom .nav>li>i.tool-btn-close:hover {
    position: absolute !important;
    top: 2px;
    right: 4px;
    color: darkred;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.contacts-list li div.contacts-list-info>i.tool-btn-close {
    position: relative !important;
    top: 2px;
    right: 4px;
    color: lightgrey;
}

.contacts-list li div.contacts-list-info>i.tool-btn-close:hover {
    position: relative !important;
    top: 2px;
    right: 4px;
    color: darkred;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.background-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
}

.request-card {
    border: 1px solid lightgray;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    min-height: 160px;
    background: #fefefe;
}

.request-card:hover {
    border: 1px solid #999;
    position: relative;
    top: 1px;
    left: 0px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}

.request-card-mm-transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.request-card img {
    border: 1px solid #ddd;
    margin-right: 10px;
    width: 120px;
    height: 120px;
}

.cursor-pointer {
    cursor: pointer;
}

.direct-chat-msg:nth-child(2n) .direct-chat-text {
    background-color: #eee;
    border-color: #eee;
}
.direct-chat-msg:nth-child(2n) .direct-chat-text:before {
    border-right-color: #eee;
}

.direct-chat-msg:nth-child(2n) .direct-chat-text:after {
    border-right-color: #eee;
}

.progress-bar-gray {
    background-color: #888888;
}

.progress-striped .progress-bar-gray {
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.bootstrap-dialog .modal-header {
    border-radius: 0px !important;
}
