.demo-droppable {
    border-color: #999;
    background: #eee;
    color: #000;
    text-align: center;
    font-size: 24px;
}
.demo-droppable.dragover {
    background: #007bb6;
}
.demo-droppable:hover {
    background: #007bb6;
}